.home-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  background: rgba(239, 240, 247, 0.726);
}
.posts {
  width: 100%;
  margin: 10px;
}
.quick-links {
  height: 100vh;
  background-color: #ffffffa9;
}
