.post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.post-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.post-header > img {
  border-radius: 50%;
  border: 1px solid;
  width: 64px;
  height: 64px;
  padding: 5px;
}

.post-bio h5 {
  margin: 0;
}

.post-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-body {
  display: flex;
  flex-direction: column;
}

.post-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
  border-top: 1px solid;
  padding: 0px 0px;
  align-items: center;
}

.reaction-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 70px;
}

.reaction-count {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.reaction-like {
  color: blue;
}
.reaction-dislike {
  color: red;
}

#like:hover {
  color: blue;
}
#dislike:hover {
  color: red;
}

.links {
  padding: 5px 10px;
  border: 1px transparent;
  border-radius: 5px;
  min-width: 60px;
}
.links:hover {
  background-color: rgba(92, 87, 87, 0.9);
}
