.post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.post-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.post-header > img {
  border-radius: 50%;
  border: 1px solid;
  width: 64px;
  height: 64px;
  padding: 5px;
}

.post-bio h5 {
  margin: 0;
}

.post-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-body {
  display: flex;
  flex-direction: column;
}

.post-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.reaction-like {
  color: blue;
}
.reaction-dislike {
  color: red;
}
